{% extends "portal_v1/base.html" %}
{% block content %}
    {% for ann_item in ann_items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ ann_item.picture.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ ann_item.author }}</a>
                    <small class="text-muted">{{ ann_item.date_posted|date:"F d, Y"}}</small>
                </div>
                <h2><a class="article-title" href="{% url 'announcement-detail' ann_item.id %}">{{ ann_item.title }}</a></h2>
                <p class="article-content">{{ ann_item.content }}</p>
            </div>
        </article>
    {%endfor%}
{% endblock content%}